---
import PricingSelector from "./PricingSelector";
---
<section id="pricing" class="w-full bg-black text-white py-20 px-6 md:px-16 border-b-[6px] border-[#d39a4d]">
  <div class="max-w-4xl mx-auto">
    <PricingSelector client:visible />
  </div>
</section>