---
---
<div id="cd-topbar" class="w-full fixed top-0 left-0 z-60 bg-linear-to-r from-[#01060d] via-[#d39a4d] to-[#01060d] py-3 text-center text-white text-xs md:text-sm font-sans tracking-widest font-bold uppercase shadow-sm">
  🔥 MAY DEAL: COMPLETE DETAIL JUST $199.99 &bull; MOM'S MONTH — 15% OFF FOR ALL MOTHERS &bull; CALL NOW: (386) 307-3785
</div>
